* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.alert {
    padding: 15px;
    font-size: 16px;
    margin-bottom: 15px;
    opacity: 1;
    transition: opacity 0.5s;
}

.alert p {
    display: inline-block;
    color: #fff;
    margin: 0;
}



.danger {
    background-color: #f44336;
}

.success {
    background-color: #4caf50;
}

.info {
    background-color: #2196f3;
}

.warning {
    background-color: #ff9800;
}

.closebtn {
    float: right;
    margin-left: 15px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: #000;
}