* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text] {
    padding: 8px;
    font-size: 18px;
    border: 2px solid #888;
    margin-left: 20px;
    border-radius: 3px;
}

::placeholder {
    color: #00f;
    font-size: 20px;
}

.placeholder::placeholder {
    color: #f00;
    font-size: 15px;
}