* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    padding: 16px 32px;
    font-size: 16px;
    text-align: center;
    border: none;
    margin: 5px;
    transition: 0.3s;
}

.fade-in {
    background-color: #f4511e;
    color: #fff;
    opacity: 0.6;
}

.fade-in:hover {
    opacity: 1;
}

.fade-bg {
    background-color: #ddd;
    color: #000;
}

.fade-bg:hover {
    background-color: #3e8e41;
    color: #fff;
}