* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.icon-bar {
    width: 70px;
    height: 100vh;
    background-color: #555;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 30px 0;
    transition: all 0.3s ease;
    color: #fff;
    font-size: 30px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #4caf50;
}