* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.form-inline label {
    margin: 5px;
}

.form-inline input {
    vertical-align: middle;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px 15px 5px 0;
}

.form-inline input[type=checkbox] {
    margin-right: 2px;
}

.form-inline button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 15px;
}

.form-inline button:hover {
    background-color: royalblue;
}

@media (max-width: 800px) {
    .form-inline label {
        margin: 5px 10px 5px 0;
    }

    .form-inline input {
        margin-bottom: 10px;
    }

    .form-inline button {
        margin-left: 0;
    }

    .form-inline {
        flex-direction: column;
        align-items: stretch;
    }
}