* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 2000px;
    background: linear-gradient(140deg, #0cdacc 0%, #2d81ee 51%, #6d0bd0 75%);
}