* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#star-rating span {
    color: #555;
    cursor: pointer;
}

#star-rating span:hover {
    color: #727272;
}

#star-rating span.checked {
    color: #ffa500;
}