* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style all input fields */
input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
}

/* Style the submit button */
input[type=submit] {
    background-color: #4caf50;
    color: #fff;
}

/* Style the container for inputs */
.container {
    width: 90%;
    max-width: 600px;
    margin: auto;
    background-color: #f1f1f1;
    padding: 20px;
}

/* The message box is shown when the user clicks on the password field */
#message {
    display: none;
    width: 90%;
    max-width: 600px;
    margin: auto;
    background-color: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    padding: 12px;
    font-size: 16px;
    margin: 0;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid::before {
    position: relative;
    left: -13px;
    content: "✔";
}

/* Add a red text color and an 'x' when the requirements are wrong */
.invalid {
    color: red;
}

.invalid::before {
    position: relative;
    left: -13px;
    content: "✖";
}