* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

::selection {
    background-color: #f0fa91;
    color: #ff2b2b;
}

.paragraph::selection {
    background-color: #79ffe2;
    color: #156cc9;
}