* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #f1f1f1;
    padding: 80px;
    font-size: 30px;
    text-align: center;
}

#navbar {
    overflow: hidden;
    background-color: #333333;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #dddddd;
    color: #000000;
}

#navbar a.active {
    background-color: #4caf50;
    color: #ffffff;
}

.content {
    padding: 16px;
    font-size: 25px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 100px;
}