* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

div.example {
    background-color: lightgrey;
    padding: 20px;
    font-size: 80px;
}

@media screen and (max-width: 1000px) {
    div.example {
        font-size: 60px;
    }
}

@media screen and (max-width: 600px) {
    div.example {
        font-size: 40px;
    }
}