* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



.progress-content {
    float: left;
    width: calc(100% - 100px);
    background-color: #ddd;
}

#progress-bar {
    width: 10%;
    height: 38px;
    background-color: rgb(0, 70, 0);
    text-align: center;
    line-height: 38px;
    color: #fff;
    /* transition: 0.2s ease-out; */
}


#progress-btn {
    float: left;
    width: 90px;
    background-color: #aaa;
    color: #fff;
    padding: 10px;
    border: none;
    font-size: 16px;
    margin-right: 5px;
}

#progress-btn:hover {
    background-color: #a0a0a0;
}