* {
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul,
ol {
    list-style: none;
    counter-reset: li;
}

ul li::before {
    content: "\2022";
    color: #f00;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

ol li {
    counter-increment: li;
}

ol li::before {
    content: counter(li);
    color: #f00;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}