* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Red border */
hr.new1 {
    border-top: 1px solid red;
}

/* Dashed red border */
hr.new2 {
    border-top: 1px dashed red;
}

/* Dotted red border */
hr.new3 {
    border-top: 1px dotted red;
}

/* Thick red border */
hr.new4 {
    border: 1px solid red;
}

/* Large rounded green border */
hr.new5 {
    border: 10px double green;
    border-radius: 5px;
}

hr.new6 {
    border-top: 20px solid red;
    border-left: 20px solid green;
    border-right: 20px solid blue;
    border-bottom: 20px solid #d347b5;
}