* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

.slideshow-container {
    position: relative;
    background-color: #f1f1f1;
    height: 250px;
}

.slides {
    display: none;
    padding: 80px;
    text-align: center;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    padding: 16px;
    margin-top: -30px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.dot-container {
    text-align: center;
    padding: 20px;
    background-color: #ddd;
}

.dot {
    width: 15px;
    height: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 2px;
    cursor: pointer;
    transition: background-color 0.6 ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

q {
    font-style: italic;
}

.author {
    color: cornflowerblue;
}