* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.float-right-sm {
    background-color: #1900ff;
    color: #fff;
    padding: 10px;
    font-size: 20px;
}

.float-right-lg {
    background-color: #ff002b;
    color: #fff;
    padding: 10px;
    font-size: 20px;
}

@media (min-width: 761px) {
    .float-right-lg {
        float: right;
    }
}

@media (max-width: 760px) {
    .float-right-sm {
        float: right;
    }
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}